/* 
Текст основной (серый) - #757575
Текст загоовки (Черный) - #212121
Текст акцнт (голубой) - #2196F3

Фон Темно Серый - #2F303A
Фон Светлосерый - #F5F4FA
Фон Белый - #FFFFFF
 */

:root {
  --prmary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: color: rgba(255, 255, 255, 0.6);
  --text-whte: #ffffff;

  --primary-background-color: #ffffff;
  --secondary-background: #f5f4fa;
  --footer-background: #2f303a;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;

  color: var(--prmary-text-color);
}

/* header */

/* logo */
.logo {
  text-decoration: none;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;

  color: #000000;
}
.logo-dec {
  color: var(--accent-color);
}

/* navgation*/
.header a {
  text-decoration: none;
}

.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;

  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.header-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;

  letter-spacing: 0.02em;

  color: var(--prmary-text-color);
}

.link:hover,
.link:focus, {
  text-decoration: none

  color: #2196f3;
}
/* Hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-whte); 
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
}
/* Осоености */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--prmary-text-color);
}
/* Чем мы занимаемся */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/* Наша команда */
.saction-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.saction-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;

  color: var(--title-text-color);
}
/* footer */

.footer-address {
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,7;

  /* color: var(--text-whte); */
}

.footer-contact a {
  

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height:1,7;

  color: var(--footer-text-color);
}
/* Примеры работ */
.project a {
  text-decoration: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color)
}
.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1,8;

  color: var(--prmary-text-color)
}